.drop-down {
  text-decoration: none;
  color: var(--bs-navbar-brand-color);
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}

img {
  max-height: 40px;
  border: 2px solid #fff;
  display: inline;
}

.drop-down {
  margin-left: 6px;
}